# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\bahaa.kiali\Projects\udacity\javaWebDevelopment\security\JDND-master\projects\P04-eCommerce Application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
